<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WELCOME</title>
</head>
<body>
<h1 align="center"> Welcome to Students Portal</h1>
<h6 align="center"> Click here for data of id-1<a href="http://127.0.0.1:8000/app/info/1"> <button>Click Me</button></a></h6>
<h6 align="center"> Click here for data of id-2<a href="http://127.0.0.1:8000/app/info/2"> <button>Click Me</button></a></h6>
<h6 align="center"> Click here for data of id-3<a href="http://127.0.0.1:8000/app/info/3"> <button>Click Me</button></a></h6>
<h6 align="center"> Click here for data of id-4<a href="http://127.0.0.1:8000/app/info/4"> <button>Click Me</button></a></h6>
<h6 align="center"> Click here for data of id-5<a href="http://127.0.0.1:8000/app/info/5"> <button>Click Me</button></a></h6>
<h6 align="center"> Click here for data of id-6<a href="http://127.0.0.1:8000/app/info/6"> <button>Click Me</button></a></h6>
<h6 align="center"> Click here for data of id-7<a href="http://127.0.0.1:8000/app/info/7"> <button>Click Me</button></a></h6>
<h6 align="center"> Click here for data of id-8<a href="http://127.0.0.1:8000/app/info/8"> <button>Click Me</button></a></h6>

</body>
</html>